{% extends 'myapp/testhome.html' %}


  
{% block content %}
<div class="container" style="margin-bottom: 50px">
  <h2>เพิ่มสินค้าในระบบ</h2>
  <p>คุณสามารถเพิ่มสินค้าเข้าไปในระบบ (เฉพาะแอดมิน)</p>
  <form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="id">รหัสสินค้า:</label>
    <input type="text" class="form-control" id="id" name="id">
  </div>

    <div class="form-group">
      <label for="name">ชื่อสินค้า:</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>

    <div class="form-group">
      <label for="price">ราคา:</label>
      <input type="text" class="form-control" id="price" name="price">
    </div>

    <div class="form-group">
  <label for="detail">รายละเอียด:</label>
  <textarea class="form-control" rows="5" id="detail" name="detail"></textarea>
  </div>

    <div class="form-group">
      <label for="category">เลือกประเภทสินค้า</label>
      <select class="form-control" id="category" name="category">
        {% for ct in category %}
            {% if ct.catname == product.catname.catname %}
               <option selected="selected">{{ct.catname}}</option>

             {% else %} 
                <option>{{ct.catname}}</option>
             {% endif %} 
           
             
        {% endfor %}   

      </select>

  </div>


    <div class="form-group">
      <label for="quantity">จำนวนสินค้า:</label>
      <input type="text" class="form-control" id="quantity" name="quantity">
    </div>

    <div class="form-group">
      <label for="unit">หน่วยสินค้า:</label>
      <input type="text" class="form-control" id="unit" name="unit">
    </div>

    <div class="form-group">
      <label for="image">เลือกรูปสินค้า</label>
      <input type="file" class="form-control" id="image" name="image">
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  </div>



{% endblock content %}

