{% extends 'myapp/testhome.html' %}
{% load markdown_extras %}



{% block content %}

<h3>{{product.name}}</h3>

<img src="{{product.image.url}}"><br>

{{ product.detail | markdown |safe }}

<h4>ราคา {{ product.price }}</h4>

<div class="container">

      {% if user.is_authenticated and user.profile.usertype == 'admin' %}
      <a href="{% url 'editproduct-page' product.id %}" class="btn btn-success">แก้ไขรายละเอียดสินค้า</a>

      {% elif product.quantity > 0 and product.instock == True %}
      <a href="{% url 'addtocart-page' product.id %}" class="btn btn-success">เพิ่มไปยังตระกร้า</a>
      {% else %}
      <a href="#" class="btn btn-warning">สินค้าหมด</a>

      {% endif %}

</div>





{% endblock content %}